{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AlgoliaApplicationID": "",
  "AlgoliaApiKey": "",
  "AlgoliaIndex": "helpsgf_production",
  "HelpSGFAPIRoot": "https://helpsgf.com"
}
